body {
    background-color: #eef0f4;
    font-size: 1.375rem;
    text-align: left;
    font-weight: 500;
    color: #037889;
}

main {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
            ". . . . ."
            ". . card . . " /* operator secondNum ." */
            ". . . . ."
            ". . . . .";

    justify-items: center;
    align-items: center;
}

.card {
    grid-area: card;
}

.operator {
    grid-area: operator;
}

.secondNum {
    grid-area: secondNum;
}

.playBtn {
    grid-area: btn;
}

.material-icons {
    font-size: 60px;
}



.card {
    background-color: #ffffff;
    color: inherit;
    padding: 20px;
    max-width: 42.5rem;
    border-radius: 25px;
}

input {
    border-style: hidden;
    background-color: #eee;
    height: 20px;
    font-size: 20px;
    box-sizing: content-box;
    max-width: 400px;
    min-width: 112px;
    width: 2px;
}

input:focus {
    outline: none !important;
}

input[type=text], input[type=url], input[type=password], input[type=email], textarea, button, select, option {

    border: 0 none;
    display: inline-block;
    font: inherit;
    margin: 0.625rem;
    outline: none;
    padding: 1rem;
    resize: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #037889;
}






